@model FRIchat.Models.Predmet
@using Microsoft.AspNetCore.Identity
@using FRIchat.Models

@{
    ViewData["Title"] = "Details";
}

<script src="~/js/chatroom.js"></script>

<div>
    <dl class="vodoravno" style="display: flex; justify-content: space-around; align-items: flex-start; border: 1px solid black;">
        <div>
            <h3>Naslov predmeta:</h3>
            <p>@Html.DisplayFor(model => model.Ime)</p>
        </div>
        <div>
            <h3>Predavatelj:</h3>
            <p>@Html.DisplayFor(model => model.Predavatelj)</p>
        </div>
        <div>
            <h3>Letnik:</h3>
            <p>@Html.DisplayFor(model => model.Letnik)</p>
        </div>
    </dl>

    <div class="komentarji">

   <h4>Komentarji:</h4>
        <ul style="margin-bottom: 300px">
            @if (Model.Komentarji != null && Model.Komentarji.Any()) 
            {
                foreach (var komentar in Model.Komentarji)
                {
                    <div style="overflow-wrap: break-word;padding:10px;margin-top:10px;max-width:fit-content;min-height: fit-content;border: 1px solid black;display:flex;flex-direction:column;">
                        <div style="font-weight: bold">@komentar.UporabnikId</div>
                        <div style="">@komentar.Vsebina</div>
                    </div>
                    // <li>@komentar.UporabnikId: @komentar.Vsebina</li>
                    //treba dodat preslikava iz uporabnik id v ime
                }
            }
            else
            {
                <li>Nobenih komentarjev še ni.</li>
            }
        </ul>

        <!--treba nardit da je skos na podnu-->
        @if (User.Identity.IsAuthenticated) {
            <div style="position: fixed;bottom: 10px;display: flex;flex-direction: column;">
                <p>Napišite komentar:</p>
                <form asp-action="Create" asp-controller="Odgovor" method="post">
                    <input type="hidden" name="predmetId" value="@Model.Id" />
                    <input type="hidden" id="datumObjave" name="datumObjave" value="1"/>
                    <textarea name="vsebina" style="min-height: 100px;max-height: 300px;overflow-y: auto;overflow-wrap: break-word; width: 80vw; resize: vertical;"></textarea><br/>
                    <button type="submit">Dodaj komentar</button>
                </form>
            </div>
            
        }

    </div>

</div>

