@model FRIchat.Models.Predmet
@using Microsoft.AspNetCore.Identity
@using FRIchat.Models

@{
    ViewData["Title"] = "Details";
}

<div style="display: flex; flex-direction: column; height: 80vh;">
    <dl class="vodoravno" style="display: flex; justify-content: space-around; align-items: flex-start; border: 1px solid black;">
        <div>
            <h3>Naslov predmeta:</h3>
            <p>@Html.DisplayFor(model => model.Ime)</p>
        </div>
        <div>
            <h3>Predavatelj:</h3>
            <p>@Html.DisplayFor(model => model.Predavatelj)</p>
        </div>
        <div>
            <h3>Letnik:</h3>
            <p>@Html.DisplayFor(model => model.Letnik)</p>
        </div>
    </dl>

    <div class="komentarji" style="flex: 1; overflow-y: auto; margin-bottom: 150px;">
        <h4>Komentarji:</h4>
        <ul>
            @if (Model.Komentarji != null && Model.Komentarji.Any()) 
            {
                foreach (var komentar in Model.Komentarji)
                {
                    //uporabnikId je treba preslikat v username
                    <li style="border:1px solid black; margin-bottom: 10px; overflow-x: hidden;">
                        @komentar.UporabnikId @komentar.DatumObjave
                        
                        <!-- komentar.UporabnikId == 0 justify-content treba spremenit name komentar.UporabnikId == prijavljenUser.id -->
                        @if (komentar.UporabnikId.Equals(0)) {
                            <p>uredi</p>
                        }
                        <br>
                        @komentar.Vsebina
                    </li>
                }
            }
            else
            {
                <li>Nobenih komentarjev še ni.</li>
            }
        </ul>
    </div>


</div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Odgovor" method="post" style="position: fixed; bottom: 0; width: 100%; background-color: white; border-top: 1px solid #ccc; margin-bottom: 20px;">
            <input type="hidden" name="predmetId" value="@Model.Id" />
            <textarea name="vsebina" style="width: 80%; height: 10vh; resize: none;"></textarea>
            <br><button type="submit" style="width: 100px; height: 40px;">Dodaj komentar</button>
        </form>
    }