@model FRIchat.Models.Predmet
@using Microsoft.AspNetCore.Identity
@using FRIchat.Models

@{
    ViewData["Title"] = "Details";
}

<div class="klepetalnica">
    <dl class="vodoravno">
        <div>
            <h3>Naslov predmeta:</h3>
            <p>@Html.DisplayFor(model => model.Ime)</p>
        </div>
        <div>
            <h3>Predavatelj:</h3>
            <p>@Html.DisplayFor(model => model.Predavatelj)</p>
        </div>
        <div>
            <h3>Letnik:</h3>
            <p>@Html.DisplayFor(model => model.Letnik)</p>
        </div>
    </dl>
    <br>

    <div class="komentarji">
        <ul>
            @if (Model.Komentarji != null && Model.Komentarji.Any()) 
            {
                foreach (var komentar in Model.Komentarji)
                {
                    <li class="komentar">
                        <div class="glavaKomentarja">
                            <p class="username">@komentar.UporabnikId &nbsp;&nbsp;</p>
                            <!--Datum je --treba forrmatirat da nebo cudn-->
                            <p class="datumObjave">@komentar.DatumObjave</p>
                        </div>
                        
                        <!--treba nardit da lah editas .... rabim session user ID-->
                        @if (komentar.UporabnikId.Equals(0)) { <p>uredi</p> }
                        
                        <br>
                        @komentar.Vsebina <br/>
                        @if (!string.IsNullOrEmpty(komentar.DatotekaUrl))
                        {
                            <img src="@komentar.DatotekaUrl" alt="Ni slike" />
                        }
                    </li>
                }
            }
            else
            {
                <li>Nobenih komentarjev še ni.</li>
            }
        </ul>
    </div>


</div>
<div class="komentiraj">
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Odgovor" method="post" enctype="multipart/form-data">
            <input type="hidden" name="predmetId" value="@Model.Id" />
            <textarea name="vsebina" id="text-area" style="width: 80%; height: 10vh; resize: none;"></textarea>
            <br>
            <div style="display: flex;">
                <button type="submit" id="send-button" style="width: 100px; height: 40px;">Dodaj komentar</button>
                <input type="file" id="image-input" accept="image/*" name="image"/>
                <div class="image-div"><img id="file-img" src="/Resources/icons8-attach-60.png" alt="ni slike" /></div>
            </div>
        </form>
    }
</div>

<script src="/js/chatroom.js"></script>