@model FRIchat.Models.Predmet
@using Microsoft.AspNetCore.Identity
@using FRIchat.Models

@{
    ViewData["Title"] = "Details";
}

<div class="klepetalnica">
    <dl class="vodoravno">
        <div>
            <h3>Naslov predmeta:</h3>
            <p>@Html.DisplayFor(model => model.Ime)</p>
        </div>
        <div>
            <h3>Predavatelj:</h3>
            <p>@Html.DisplayFor(model => model.Predavatelj)</p>
        </div>
        <div>
            <h3>Letnik:</h3>
            <p>@Html.DisplayFor(model => model.Letnik)</p>
        </div>
    </dl>
    <br>
    <hr/>

    <div class="komentarji">
        <ul>
            @if (Model.Komentarji != null && Model.Komentarji.Any()) 
            {
                foreach (var komentar in Model.Komentarji)
                {
                    <li class="komentar">
                        <div class="glavaKomentarja">
                            <p class="username">@komentar.UporabnikId &nbsp;&nbsp;</p>
                            <!--Datum je --treba forrmatirat da nebo cudn-->
                            <p class="datumObjave">@komentar.DatumObjave</p>
                        </div>
                        
                        <!--treba nardit da lah editas .... rabim session user ID-->
                        @if (komentar.UporabnikId.Equals(0)) { <p>uredi</p> }
                        
                        <br>
                        @komentar.Vsebina
                    </li>
                }
            }
            else
            {
                <li>Nobenih komentarjev še ni.</li>
            }
        </ul>
    </div>


</div>
<div class="komentiraj">
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Odgovor" method="post">
            <input type="hidden" name="predmetId" value="@Model.Id" />
            <textarea name="vsebina" style="width: 80%; height: 10vh; resize: none;"></textarea>
            <br><button type="submit" style="width: 100px; height: 40px;">Dodaj komentar</button>
        </form>
    }
</div>